.search {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

}

.arrange {
  margin-right: 1rem;
}

.arrange-category {
  display: flex;
}

select {
  height: 2rem;
}

input,
select {
  border: 1px solid black;
  border-radius: 2px;
}